<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html, body {margin-left: 5%; margin-right: 5%; padding: 0;}
      #map-canvas { height: 400px;}
      #results h1,h2,h3, #date {margin: 0;}
      
    #results h2, h3, #date{
     padding: 0 0 0 16px;
     white-space:nowrap;
     display:inline-block;
    }

    #results h2{
      background: url(../static/img/location.png) left center no-repeat;
    }

    #results h3{
     background: url(../static/img/money.png) left center no-repeat;
    }
    
    #results #date{
     background: url(../static/img/date.png) left center no-repeat;
    }


	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	
    
    </style>
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGsyWX25sey0oND6PzWYSEM8mZGMJNklE">
    </script>
    <script type="text/javascript">
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var map;
      var marker_count = 0;

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
          center: { lat: 39.788336, lng: -77.050659},
          zoom: 7
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        directionsDisplay.setMap(map);
      }

      function add_marker(lat_lng) {
        console.log("Adding marker at " + lat_lng);
            var marker = new google.maps.Marker({
              position: lat_lng,
              map: map
        });
        marker_count++;
      }

      // response, distance in meters
      function get_stops(response, distance_interval) {
          var threshold = 20 * 1000; // +- distance difference
          var last_step;
          var curr_step;
          var ret = new Array();

          var loc_obj = {
            coordinates: [response.routes[0].legs[0].start_location.k,
                          response.routes[0].legs[0].start_location.B],
            distance: 0
          };
          ret[ret.length] = loc_obj;

          var overview_line = google.maps.geometry.encoding.decodePath(response.routes[0].overview_polyline)
          var this_lat_lng = new google.maps.LatLng(overview_line[0].k, overview_line[0].B);
          last_step = this_lat_lng;
          for (var i = 1; i < overview_line.length; i = i + 10) {
            this_lat_lng = new google.maps.LatLng(overview_line[i].k, overview_line[i].B);
            var dist = google.maps.geometry.spherical
                       .computeDistanceBetween(last_step,
                                               this_lat_lng);
            if (dist >= distance_interval + threshold) {
                add_marker(this_lat_lng);

                var loc_obj = {
                    coordinates: [this_lat_lng.k, this_lat_lng.B],
                    distance: dist
                };
                console.log(JSON.stringify(loc_obj));
                ret[ret.length] = loc_obj;
                last_step = this_lat_lng;
            }
          }
          var loc_obj = {
            coordinates: [response.routes[0].legs[0].end_location.k,
                          response.routes[0].legs[0].end_location.B],
            distance: google.maps.geometry.spherical
                       .computeDistanceBetween(last_step,
                                               this_lat_lng)
          };
          ret[ret.length] = loc_obj;
          return ret;
      }
      
      function calcRoute() {
          var start = "{{start}}"
          var end = "{{destination}}";
          var date = document.getElementById("checkin").value;
          var request = {
              origin: start,
              destination: end,
              travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
              possible_stops = get_stops(response, 400*1000);

             
              }
          });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body onload="calcRoute()">
    <h1>Your Road Trip from</h1>
    <h2>{{start}} to {{destination}}</h2>
    <h3>Total cost: ${{totalPrice}}</h3>

    <div id="map-canvas"></div>



		{% for hotel, price, city, starRating, dates, image in zipped %}
		    <div id="results" style="display:block;" class="results clearfix">
		    	{% if image %}
		        <img src="{{image}}" width='200px' height='200px' style="float:left;" />
		        {% else %}
		        <img src="../static/img/hotel_icon.png" width='200px' height='200px' style="float:left;" />
		        {% endif %}
        <h1>{{hotel}}
            <!-- <img src="../static/img/star.png" /><img src="../static/img/star.png" /><img src="../static/img/star.png" /> -->
        </h1>
        <h2>{{city}}</h2><br />
        <h3>{{price}}</h3><br />
        <p id="date">{{dates}}</p>
        <br><br>

    </div>
            {% endfor %}
  </body>
</html>

